@import './utils/bem.scss';

@include b('card') {
  width: 340px;
  height: 340px;
  background-color: #fff;
  box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 10px 16px;
  transition: all 0.4s;
  box-sizing: border-box;

  &:hover {
    box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.12);
  }
}

.es-tag-enter-active {
  animation: create 0.4s;
}

.es-tag-leave-active {
  animation: create 0.4s reverse;
}

@keyframes create {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}