@import './color/index.scss';
@import './utils/bem.scss';

@include b('checkbox') {
  display: inline-flex;
  align-items: center;

  @include e('box') {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: $primary;
  }

  @include e('type') {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0;

    &:checked::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 2px solid $primary;
      background-color: $primary;
      }
    
      &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      }

      &:checked ~ .es-checkbox__icon {
        display: block;
      }
  }

  @include e('icon') {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }
}

@include is('disabled') {
  opacity: 0.5;
  cursor: not-allowed;
}